
{% load static %}

<!doctype html>
<html lang="en">
  <head>

    <!-- Meta Tags -->
    {% block meta %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Allows support of older ie versions & eliminates HTML validation errors-->
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="copyright" content="Fit Six">
      <meta name="Classification" content="Business">
      <meta name="owner" content="Steve Powell">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    <!-- Favicon --> 
    {% block favicon %}
        <link rel="apple-touch-icon" sizes="192x192" href="{% static 'favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">        
    {% endblock %}

    <!-- Stylesheets -->
    {% block corecss %}
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    <!-- Scripts -->
    <!-- Placed in the head so they load as early as possible -->
    {% block corejs %}
      <script src="https://kit.fontawesome.com/357186c75c.js" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
      <!-- Stripe -->
      <script src="https://js.stripe.com/basil/stripe.js"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Fit Six {% block extra_title %}{% endblock %}</title>
  </head>

  <body class="d-flex flex-column min-vh-100 {% block body_class %}{% endblock %}">
    <header class="fixed-top p-0 m-0 bg-black">
      <div class="max-width-1600">
        <nav aria-label="Main navigation">

          {# Desktop navigation #}
          {% include 'includes/desktop-nav.html' %}

          {# Mobile navigation (collapsed navbar) #}
          <div class="row d-lg-none">
            {% include 'includes/mobile-nav.html' %}
          </div>

          {# Slide-in desktop search bar #}
        </nav>
      </div>
      <!-- Add keyline here (inside header) -->
      <div class="d-none d-lg-block keyline"></div>  {# Desktop only #}
      <div class="d-block d-lg-none keyline"></div>  {# Mobile only #}
    </header>

    <!-- Messages / Toasts -->
    {% if messages %}
    <div class="message-container">
    {% for message in messages %}
        {% with message.level as level %}
            {% if level == 40 %}
                {% include 'includes/toasts/toast_error.html' %}
            {% elif level == 30 %}
                {% include 'includes/toasts/toast_warning.html' %}
            {% elif level == 25 %}
                {% include 'includes/toasts/toast_success.html' %}
            {% else %}
                {% include 'includes/toasts/toast_info.html' %}
            {% endif %}
        {% endwith %}
    {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    <!-- Main & Newsletter Content -->
    <div class="flex-grow-1 d-flex flex-column">
      <main class="flex-grow-1 main-content">

          {% block hero %}
          {% endblock %}

          <div class="max-width-1600">
              {% block content %}{% endblock %}
          </div>
      </main>

      {% block newsletter %}{% endblock %}
    </div>

  {# Footer extracted for modularity and reusability #}
  {% include 'includes/footer.html' %}

  {% block postloadjs %}
    {# Search toggle scripts #}
    {% include 'includes/scripts/search_toggle_desktop.html' %}
    {% include 'includes/scripts/search_toggle_mobile.html' %}

      {# Include JS to trigger toast messages #}
      {% include 'includes/scripts/toast_init.html' %}
  {% endblock %}

  </body>
</html>